Source: xbmc-audioencoder-wav
Priority: extra
Maintainer: wsnipex <wsnipex@xbmc.org>
Build-Depends: debhelper (>= 8.0.0), cmake, xbmc-addon-dev
Standards-Version: 3.9.2
Section: libs
Homepage: http://xbmc.org

Package: xbmc-audioencoder-wav
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: WAV audio encoder for XBMC
 WAV audio encoder for XBMC

Package: xbmc-audioencoder-wav-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: debug symbols for WAV audio encoder for XBMC
 debug symbols for WAV audio encoder for XBMC

